:root {
  --border-color: solid 2px rgb(152, 192, 227);
  --main-background-color: rgb(39, 33, 90);
  --primary-color: rgb(94, 164, 181);
  --secondary-color: rgb(176, 129, 197);

}

.App {
  margin: 0 auto;
  font-family: "M PLUS Code Latin", monospace;
  font-weight: 300;
}
.ListOfNotes {
  font-family: "M PLUS Code Latin", monospace;
  font-weight: 200;
  margin-top: 0;
  box-shadow: 2px 2px 4px 4px grey;
}

h1 {
  font-size: 50px;
  color: rgb(234, 188, 255);
  padding: 20px;
  background-color: var(--main-background-color);
  margin-left: 100px;
}

.heading {
  border: solid 2px var(--secondary-color);
  background-color: var(--main-background-color);
  margin-bottom: 50px;
  text-align: left;
  text-shadow: 4px 4px 4px rgb(79, 78, 78);
}

.item-example {
  margin: 20px auto;
  font-size: 1.4rem;
  text-align: center;
  width: 300px;
  background-color: var(--main-background-color);
  color: blanchedalmond;
  border: 8px solid var(--border-color);
  border-radius: 3px;
  padding: 20px 30px;
  box-shadow: 4px 4px 4px grey;
  position: relative;
}
.input {
  opacity: 20px;
  font-size: 20px;
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
}

.container {
  margin: 20px;
  display: flex;
}

.item {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  text-wrap: pretty;
  letter-spacing: 1px;
}

.itemNote {
  font-size: 1.5rem;
  text-align: end;
  background-color: rgb(216, 234, 223);
  color: rgb(48, 48, 48);
  border: 1px solid rgb(234, 188, 255);;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 20px 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  float: left;
}

form .addButton {
  font-size: 30px;
  font-weight: bold;
  background-color: var(--secondary-color);
  border: solid 3px rgb(152, 207, 255);
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 4px 4px 4px rgb(79, 78, 78);
}

.deleteButton {
  justify-content: right;
  text-align: right;
  margin: 10px;
  color: antiquewhite;
  font-weight: bold;
  background-color: rgb(215, 41, 76);
  border: var(--border-color);
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

:hover.deleteButton {
  background-color: rgb(231, 131, 151);
}
